/* Inter Font Styles */
.inter-regular {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Apply Inter font to the entire page */
body {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Apply Macondo font to all h1 elements */
h1 {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Macondo Font Style */
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}